<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="carousel/assets/owl.theme.default.min.css">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>

    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="imgs/sovetskij-orden-znak-pocheta-5.655x459-removebg-preview.png"
        type="image/x-icon">
    <title>Эл агартуу</title>
</head>

<body>
    <header>
        <div class="container">
            <ul class="nav_links lg_menu">
                <li class="nav_link"><a href="/">Главное</a></li>
                <li class="nav_link"><a class="active_site" href="/about">О Журнале</a></li>
                <li class="nav_link"><a href="/archive">Архив</a></li>
                <li class="nav_link"><a href="/contacts">Контакты</a></li>
                <li class="nav_link"><a  href="/author">Автором</a></li>
            </ul>
        </div>
        <!-- burger menu -->
        <button class="btn btn-primary btnBurger" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
            <i class="fi fi-rr-menu-burger"></i>
          </button>
          <div style="min-height: 400px;" >
            <div class="collapse collapse-horizontal" id="collapseWidthExample">
              <div class="card card-body mob_menu" style="width: 400px;">
                <ul class="nav_links">
                    <li class="nav_link"><a href="/">Главное</a></li>
                    <li class="nav_link"><a class="active_site" href="/about">О Журнале</a></li>
                    <li class="nav_link"><a href="/archive">Архив</a></li>
                    <li class="nav_link"><a href="/contacts">Контакты</a></li>
                    <li class="nav_link"><a  href="/author">Автором</a></li>
    
                </ul>
              </div>
            </div>
          </div>
    </header>
    <div class="hero_area hero_bg">
        <div class="hero_txt">
            <p>Наши свежие выпуски и архив журналов</p>
            <a href="/archive" class="linkAll">Архив</a>
        </div>
        <div class="journal_img">
            <img class="anim" src="http://elagartuu.site.kg/wp-content/uploads/2023/01/El_agartuu_side-211x300.png"
                alt="">

        </div>
    </div>
    <div class="container">
        <div class="history_blog mt-5">
            <h1 class="history_title mb-5 text-center display-4">История журнала</h1>
            <p>Первый номер научного, педагогического и методического журнала «Эл агартуу» Министерства образования и
                науки Кыргызской Республики вышел в свет <i> 5 мая 1928 года.</i> Исторически он был известен как
                первый кыргызский журнал, издаваемый на кыргызском языке.</p>
            <p>Изначально журнал был посвящен образованию, науке, культуре, литературе, неравенству женщин, сельскому
                хозяйству, экономике и многому другому. Был журналом энциклопедического значения, охватывающим все
                отрасли народного хозяйства Кыргызстана. С появлением отраслевых газет и журналов этот журнал
                адаптировался для освещения вопросов в области образования и науки. Что касается условий его
                организации, то можно сказать, что это было вызвано социально-политической ситуацией и условиями жизни
                того времени. Это было жизненной необходимостью для кыргызского народа, чья письменная культура до того
                времени отставала. Поэтому в рамках проводимой политики искоренения неграмотности первые кыргызские
                интеллектуалы, такие как
            <ul>
                <li>Т. Айтматов</li>
                <li>К. Тыныстанов</li>
                <li>Т. Жолдошев</li>
                <li>Э. Арабаев</li>
                <li>О. Алиев</li>
            </ul> четко осознавали необходимость журнала на родном языке. Однако издание такого журнала требовало
            больших денежных вложений. Поэтому каждый из них пожертвовал из своего кармана <i> по 10 сомов,</i> а
            затем они обратились к общественности через газету <i> «Эркин Тоо»</i> за помощью в издании
            журнала.<br>
            Средства собирались около двух лет, и 5 мая 1928 года на родном языке вышел первый кыргызский журнал <i>
                “Жаңы маданият жолунда” («На пути к новой культуре»).</i>
            </p>
            <p>Первым главным редактором журнала был <i> К. Тыныстанов.</i> Его авторами были первые кыргызские
                интеллигенты того времени, преподаватели учебных курсов и старшекурсники. На страницах журнала
                публиковались материалы по методике обучения, рекомендации, произведения кыргызских и русских поэтов и
                писателей.</p>
            <p>Со временем, в соответствии с требованиями общества и текущими условиями, этот журнал освещает
                деятельность дошкольных образовательных учреждений, школ, средних и высших учебных заведений, т. е.
                направлен ​​на освещение работы системы народного образования.</p>
            <p>В этом контексте журнал издается с 1932 года под названием<i> «Маданий майдан»,</i> с 1938 года под
                названием <i> «Окутуучуларга жардам»,</i> после Великой Отечественной войны <i>«Мугалимдерге
                    жардам»,</i> а с 1972 года — под названием <i>«Эл агартуу».</i></p>
            <p>Как уже упоминалось, первым редактором журнала был<i> К. Тыныстанов,</i> позже эту почетную
                должность занимали
            <ul>
                <li>А. Токомбаев</li>
                <li>Т. Жолдошев</li>
                <li>Б. М. Юнусалиев</li>
                <li>К. Баялинов</li>
                <li>Ж. Шукуров</li>
                <li>А. Элебесов</li>
                <li>Б. Кулдашев</li>
                <li>Б. Уметалиева</li>
                <li>Р. Шамурзина</li>
                <li>Н. Кангельдиев</li>
                <li>А. Токтосунов</li>
                <li>А. Осмонкулов</li>
                <li>Ш. Джамансариев</li>
                <li>Т. Сагымбаев</li>
            </ul>
            </p>
            <p>Каждый из них внес весомый вклад в становление и развитие журнала. В частности, нельзя недооценивать
                вклад этих лиц в тематическое расширение журнала, его научное, методологическое, педагогическое и
                идеологическое развитие. Бремя этих людей на самом деле тесно связано с историей кыргызского образования
                и науки, и со временем отразило их как зеркало общества. Поэтому любимый журнал педагогического
                сообщества с момента своего создания занимается развитием новой культуры кыргызского народа,
                всесторонним повышением качества образования, воспитанием подрастающего поколения для служения народу,
                повышением уровня образования учителей. Педагогическому сообществу хорошо известно, что он предоставляет
                материалы, которые затрагивают такие вопросы, как распространение опыта преподавания и продвижение
                инноваций в педагогической науке.</p>
            <p>Работа, проделанная редакцией, была оценена по достоинству.<i> 5 мая 1978 года Указом Президиума
                    Верховного
                    Совета СССР журнал «Эл агартуу»</i> за вклад в развитие народного образования и просвещения
                награжден
                орденом <i>«Знак Почета».</i></p>
            <p>С получением этой награды повысилась ответственность сотрудников журнала, а хорошие отзывы руководства и
                читателей дали новый импульс. Так, после семидесятых годов в журнале появились новые рубрики, такие как:
                <i> «Организация народного образования»</i>, <i>«Высшие и средние специальные учебные
                    заведения»</i>,<i> «Методика и
                    практика»</i>, включая эффективное преподавание каждого предмета, <i>«Школа, семья,
                    община»</i>, <i>«Начальная школа»</i>.
                Были открыты такие новые разделы, как <i> «Школа»</i>, <i>«Внеурочная деятельность»</i>,
                <i>«Педагогика и психология»</i>, что
                способствовало расширению тематической направленности журнала.
            </p>
            <p>А после восьмидесятых годов, в связи с введением в учебную программу новых предметов, редколлегия решила
                открыть новые разделы, публиковать материалы по методике преподавания этих предметов, освещать опыт
                учителей-новаторов. Материалы были опубликованы в рубриках <i>«Этика и психология семейной
                    жизни»</i>, <i>«Основы
                    информатики и компьютерной инженерии»</i>. Кроме того, тогдашнее руководство прямо обязывало
                учителей,
                производственников и специалистов следить за тем, чтобы каждый ребенок в будущем выбрал правильную
                профессию. Впоследствии на страницах журнала появились рубрики <i>«Трудовое обучение»</i>,
                <i>«Всякая профессия —
                    почетная»</i>. Их авторами в основном были учителя трудового обучения, руководители
                производственных бригад.
            </p>
            <p>Таким образом, время шло и общество обновлялось, журнал шёл в ногу с обществом, и в последующие годы на
                его страницах появились новые рубрики: <i>«Образование и инновации»</i>, <i>«Кыргызский язык
                    как государственный
                    язык»</i>, <i>«Этнопедагогика»</i>, <i>«Этнография»</i>, <i>«Лучшие
                    практики»</i>, <i>«Школа передового опыта»</i>, <i>«Предложения,
                    отзывы, обсуждения»</i>, которые освещали опыт народных учителей и заслуженных работников
                образования.</p>
            <p>За годы своего существования журнал нашел своих читателей и стал бесценным помощником кыргызских
                учителей.</p>
            <p>Журнал публикует широкий спектр материалов, от методики обучения до современных научных достижений,
                помогает воспитателям дошкольных учреждений, школьным учителям, учителям высшего и среднего образования,
                а также воспитывает нашу молодежь, чтобы юноши и девушки стали достойными гражданами общества.</p>
        </div>
    </div>


    <footer>
        <div class="container footer">
            <div class="logo_footer">
            </div>
            <div class="footer_info">
                Подписка
                На территории Кыргызстана подписка на журнал «Эл агартуу» осуществляется в любом почтовом отделении 2
                раза в год:
                на первое полугодие – в октябре-ноябре;
                на второе полугодие – в мае-июне.
                Подписной индекс журнала – 77438
                Журнал издается 6 раз в год.
            </div>
            <div class="footer_title">
                <h1>Эл агартуу</h1>
            </div>
        </div>
        <hr>
        <p class="author mt-3">&copy; Калдыбаев 2023</p>
    </footer>



    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
    <script src="scripts/jquery.min.js"></script>
    <script src="carousel/owl.carousel.min.js"></script>
    <script src="scripts/main.js" defer></script>
</body>

</html>