<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="carousel/assets/owl.theme.default.min.css">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>

    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="imgs/sovetskij-orden-znak-pocheta-5.655x459-removebg-preview.png"
        type="image/x-icon">
    <title>Admin Panel</title>
</head>
<body>
     <header>
        <div class="container">
            <ul class="nav_links lg_menu">
                <li class="nav_link"><a href="/">Главное</a></li>
                <li class="nav_link"><a href="/about">О Журнале</a></li>
                <li class="nav_link"><a href="/archive">Архив</a></li>
                <li class="nav_link"><a href="/contacts">Контакты</a></li>
                <li class="nav_link"><a href="/author">Автором</a></li>
            </ul>
        </div>
        <!-- burger menu -->
        <button class="btn btn-primary btnBurger" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
            <i class="fi fi-rr-menu-burger"></i>
          </button>
          <div style="min-height: 400px;" >
            <div class="collapse collapse-horizontal" id="collapseWidthExample">
              <div class="card card-body mob_menu" style="width: 400px;">
                <ul class="nav_links">
                    <li class="nav_link"><a class="active_site" href="/">Главное</a></li>
                    <li class="nav_link"><a href="/about">О Журнале</a></li>
                    <li class="nav_link"><a href="/archive">Архив</a></li>
                    <li class="nav_link"><a href="/contacts">Контакты</a></li>
                    <li class="nav_link"><a  href="/author">Автором</a></li>
    
                </ul>
              </div>
            </div>
          </div>
    </header>

    <div class="hero_area hero_bg" >
      <div class="hero_txt ">
          <p class="h2">Админ Панель</p>
          <a href="/" class="linkAll">Главное</a>
      </div>
      <div class="journal_img ">
          <img class="anim" src="imgs/El_agartuu_side-211x300.png" alt="">
      </div>
  </div>

    <div class="container form_blog">
    
      <form method="post" class="admin_form">
          <h1 class="mt-5">Публикация журнала</h1>
          <div class="row form_style">
            <div class="new_name col-sm-6">
          <label for="title">Заголовок:</label>
          <input type="text" name="title" id="title" required class="form-control" placeholder="Введите название">
        </div>
        <div class="new_link col-sm-6">
          <label for="link">Ссылка:</label>
          <input type="text" name="link" id="link" required class="form-control" placeholder="Введите ссылку на журнал"> 
        </div>
          <br>
          <button type="submit"  class="btn btn-primary col-sm-2 mt-3 p-2">Опубликовать</button>
        </div>
      </form>
      </div>
</body>
</html>