<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="carousel/assets/owl.theme.default.min.css">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="imgs/sovetskij-orden-znak-pocheta-5.655x459-removebg-preview.png"
        type="image/x-icon">
    <title>Эл агартуу</title>
</head>

<body>
    <header>
        <div class="container">
            <ul class="nav_links lg_menu">
                <li class="nav_link"><a href="/">Главное</a></li>
                <li class="nav_link"><a href="/about">О Журнале</a></li>
                <li class="nav_link"><a href="/archive">Архив</a></li>
                <li class="nav_link"><a class="active_site" href="/contacts">Контакты</a></li>
                <li class="nav_link"><a  href="/author">Автором</a></li>
            </ul>
        </div>
        <!-- burger menu -->
        <button class="btn btn-primary btnBurger" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
            <i class="fi fi-rr-menu-burger"></i>
          </button>
          <div style="min-height: 400px;" >
            <div class="collapse collapse-horizontal" id="collapseWidthExample">
              <div class="card card-body mob_menu" style="width: 400px;">
                <ul class="nav_links">
                    <li class="nav_link"><a href="/">Главное</a></li>
                    <li class="nav_link"><a href="/about">О Журнале</a></li>
                    <li class="nav_link"><a href="/archive">Архив</a></li>
                    <li class="nav_link"><a class="active_site"  href="/contacts">Контакты</a></li>
                    <li class="nav_link"><a href="/author">Автором</a></li>
    
                </ul>
              </div>
            </div>
          </div>
    </header>
      <!-- Hero area -->
      <div class="hero_area hero_bg" >
        <div class="hero_txt ">
            <p>Все о главном</p>
            <a href="/" class="linkAll">Главное</a>
        </div>
        <div class="journal_img ">
            <img class="anim" src="imgs/El_agartuu_side-211x300.png" alt="">
        </div>
    </div>
    <div class="container">
    <div class="contact_blog row mt-5 mb-5">
        <div class="our_contacts col-sm-12 hero_txt">
            <p>Эл агартуу</p>
            <a href="mailto:elagartuu28@mail.ru"><i class="fi fi-rr-envelope">elagartuu28@mail.ru</i></a><br>
            <a href="tel:+996551173038"><i class="fi fi-rr-phone-call">0 551 17-30-38</i></a><br>
            <a href="tel:+996312620852"><i class="fi fi-rr-phone-call">0 312 62-08-52</i></a><br>
            <p>Главный редактор научного издания<br> — Кийизбаева Чолпон</p>
            <a href="tel:+996700193925"><i class="fi fi-rr-phone-call">0 700 19-39-25</i></a>
        </div>

        <div class="map col-sm-12">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2923.6589689920943!2d74.60511399064276!3d42.88004172771261!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x389eb7c20872a8e1%3A0xc411f0247de41631!2zMjU3INGD0LsuINCi0YvQvdGB0YLQsNC90L7QstCwLCDQkdC40YjQutC10Lo!5e0!3m2!1sru!2skg!4v1698691790133!5m2!1sru!2skg" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
    </div>

    <footer>
        <div class="container footer">
            <div class="logo_footer">
            </div>
            <div class="footer_info">
                Подписка
                На территории Кыргызстана подписка на журнал «Эл агартуу» осуществляется в любом почтовом отделении 2
                раза в год:
                на первое полугодие – в октябре-ноябре;
                на второе полугодие – в мае-июне.
                Подписной индекс журнала – 77438
                Журнал издается 6 раз в год.
            </div>
            <div class="footer_title">
                <h1>Эл агартуу</h1>
            </div>
        </div>
        <hr>
        <p class="author mt-3">&copy; Калдыбаев 2023</p>
    </footer>



    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
    <script src="scripts/jquery.min.js"></script>
    <script src="carousel/owl.carousel.min.js"></script>
    <script src="scripts/main.js" defer></script>
</body>

</html>