<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="carousel/assets/owl.carousel.min.css">
    <link rel="stylesheet" href="carousel/assets/owl.theme.default.min.css">
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.0.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="responsive.css">
    <link rel="shortcut icon" href="imgs/sovetskij-orden-znak-pocheta-5.655x459-removebg-preview.png"
        type="image/x-icon">
    <title>Эл агартуу</title>
</head>

<body>
    <header>
        <div class="container">
            <ul class="nav_links lg_menu">
                <li class="nav_link"><a class="active_site" href="/">Главное</a></li>
                <li class="nav_link"><a href="/about">О Журнале</a></li>
                <li class="nav_link"><a href="/archive">Архив</a></li>
                <li class="nav_link"><a href="/contacts">Контакты</a></li>
                <li class="nav_link"><a  href="/author">Автором</a></li>
            </ul>
        </div>
        <!-- burger menu -->
        <button class="btn btn-primary btnBurger" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
            <i class="fi fi-rr-menu-burger"></i>
          </button>
          <div style="min-height: 400px;" >
            <div class="collapse collapse-horizontal" id="collapseWidthExample">
              <div class="card card-body mob_menu" style="width: 400px;">
                <ul class="nav_links">
                    <li class="nav_link"><a class="active_site" href="/">Главное</a></li>
                    <li class="nav_link"><a href="/about">О Журнале</a></li>
                    <li class="nav_link"><a href="/archive">Архив</a></li>
                    <li class="nav_link"><a href="/contacts">Контакты</a></li>
                    <li class="nav_link"><a  href="/author">Автором</a></li>
    
                </ul>
              </div>
            </div>
          </div>
    </header>
    <!-- Hero area -->
    <div class="hero_area hero_bg" >
        <div class="hero_txt ">
            <p>Научный, педагогический и методический журнал
                Издается с 1928 года</p>
            <a href="/about" class="linkAll">О журнале</a>
        </div>
        <div class="journal_img ">
            <img class="anim" src="imgs/El_agartuu_side-211x300.png" alt="">
        </div>
    </div>
    <!-- Journal History -->
    <div class="container">
        <div class="row my_card mt-5">

            <div class="col-sm-6 card_img"></div>
            <div class="col-sm-6 card_txt ">
                <h1>ЭА 2023/4</h1>
                <p>Свежий журнал</p>
                <a href="/archive" class="linkAll">Подробнее</a>

            </div>
        </div>
    </div>

    </div>
    <!-- Profiles -->
    <div class="container mt-5">
        <h1 class="text-center">Редколлегия</h1>
        <div class="owl-carousel owl-theme profile_cards mt-5">
            <div class="profile_card">
                <div class="profile_img"></div>
                <div class="profile_info">
                    <h2 class="profile_name">Анаркулов Х.</h2>
                    <p class="profile_des">Доктор педагогических наук, профессор.</p>
                </div>
            </div>
            <div class="profile_card">
                <div class="profile_img"></div>
                <div class="profile_info">
                    <h2 class="profile_name">Акматалиев А.А.</h2>
                    <p class="profile_des">Доктор филологических наук, академик.</p>
                </div>
            </div>
            <div class="profile_card">
                <div class="profile_img"></div>
                <div class="profile_info">
                    <h2 class="profile_name">Биялиев К.</h2>
                    <p class="profile_des">Доктор педагогических наук .</p>
                </div>
            </div>
            <div class="profile_card">
                <div class="profile_img"></div>
                <div class="profile_info">
                    <h2 class="profile_name">Исаков К.</h2>
                    <p class="profile_des">Доктор филологических наук, профессор.</p>
                </div>
            </div>
            <div class="profile_card">
                <div class="profile_img"></div>
                <div class="profile_info">
                    <h2 class="profile_name">Ишекеев Н. </h2>
                    <p class="profile_des">Доктор педагогических наук, профессор .</p>
                </div>
            </div>
            <div class="profile_card">
                <div class="profile_img"></div>
                <div class="profile_info">
                    <h2 class="profile_name">Ниязов Т.</h2>
                    <p class="profile_des">Кандидат географических наук, профессор.</p>
                </div>
            </div>
            <div class="profile_card">
                <div class="profile_img"></div>
                <div class="profile_info">
                    <h2 class="profile_name">Оморов И.</h2>
                    <p class="profile_des">Кандидат географических наук .</p>
                </div>
            </div>
            <div class="profile_card">
                <div class="profile_img"></div>
                <div class="profile_info">
                    <h2 class="profile_name">Өмүрбеков Т.</h2>
                    <p class="profile_des">Доктор исторических наук, профессор.</p>
                </div>
            </div>
            <div class="profile_card">
                <div class="profile_img"></div>
                <div class="profile_info">
                    <h2 class="profile_name">Соронкулов Г.</h2>
                    <p class="profile_des">Кандидат педагогических наук.</p>
                </div>
            </div>
            <div class="profile_card">
                <div class="profile_img"></div>
                <div class="profile_info">
                    <h2 class="profile_name">Тайтелиев Ч.</h2>
                    <p class="profile_des">гл. редактор журнала “Эл агартуу”.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- contact with us -->
    <div class="container mb-5 mt-5">
        <div class="contact_blog">
            <h2 class="contact_txt">Если вы автор или у вас есть вопросы то свяжитесь с нами</h2>
            <a href="/contacts" class="linkAll">Контакты</a>
        </div>
    </div>
    <footer>
        <div class="container footer">
            <div class="logo_footer">
            </div>
            <div class="footer_info">
                Подписка
                На территории Кыргызстана подписка на журнал «Эл агартуу» осуществляется в любом почтовом отделении 2
                раза в год:
                на первое полугодие – в октябре-ноябре;
                на второе полугодие – в мае-июне.
                Подписной индекс журнала – 77438
                Журнал издается 6 раз в год.
            </div>
            <div class="footer_title">
                <h1>Эл агартуу</h1>
            </div>
        </div>
        <hr>
        <p class="author mt-3">&copy; Калдыбаев 2023</p>
    </footer>



    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
        integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
        crossorigin="anonymous"></script>
    <script src="scripts/jquery.min.js"></script>
    <script src="carousel/owl.carousel.min.js"></script>
    <script src="scripts/main.js" defer></script>
</body>

</html>